*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.ftp_credentials
.temp_upload.txt
upload.php
check_logs.php
check_dir.php
check_public.php
upload_fix.php
check_dirs_now.php
get_koneksi.php
run_setup_db.php
run_clean_remote.php
upload_linux.php
check_dirs_now_2.php
run_test_zip.php
run_basedir.php
run_test_write.php
run_read_deploy.php
upload_deploy.php
run_clean_slashes.php
upload_public.php
run_extract_public.php
